:root {
  --bg-color: #cdb4db;
  --container-color: #faedcd;
  --red: #ef233c;
  --transition: 0.3s all;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: var(--transition);
}

body {
  background-color: #cdb4db;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.container {
  background-color: var(--container-color);
  padding: 2rem;
  border-radius: 10px;
  max-width: 700px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;
}

.start-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  gap: 20px;
}
.start-content h1 {
  font-size: 3rem;
}
.startbtn {
  padding: 0.8rem 2rem;
  background-color: var(--bg-color);
  border-radius: 100vw;
  color: #000;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.startbtn:hover {
  transform: scale(1.1);
}

.header {
  max-width: 100%;
  position: relative;
}

.header .number-div {
  padding: 0.5rem;
  background-color: var(--red);
  border-radius: 100vw;
  color: #fff;
}
.header .title {
  margin-top: 1.5rem;
  overflow: hidden;
}

.header h2 {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.time {
  position: absolute;
  right: 0;
  top: -0.1rem;
  padding: 0.2rem 0.5rem;
  background-color: var(--red);
  border-radius: 100vw;
  color: #fff;
}
.header h3 {
  text-align: center;
  padding: 1rem 0;
  font-size: 32px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

.header h1:not(h1.title) {
  overflow: hidden;
  color: #d62828;
  text-align: center;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.answer {
  padding: 1rem;
  cursor: pointer;
  background-color: #ffffff;
  transition: var(--transition);
}
.answer:hover {
  background-color: #d3d3d3;
}

.answer.clicked {
  background-color: #a1a1a1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: end;
}

.next {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 100vw;
  background-color: #0fa3b1;
  color: #fff;
  filter: brightness(70%);
  cursor: no-drop;
}

.next.open {
  filter: brightness(100%);
  cursor: pointer;
}

.display {
  display: flex;
}
.nondisplay {
  display: none;
}

@media (max-width: 400px) {
  .header h1 {
    font-size: 28px;
  }
}
